*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.navbar {
    border: 1px solid white;
    background-color: #3e5066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo {
    width: 90px;
    height: 55px;
    object-fit: cover;
}

.nav-menu {
    color: white;
    display: flex;
    gap: 40px;
    align-items: center;
}

@media(max-width:500px){
    .nav-menu {
        display: none;
    }
    .items {
        padding: 30px 30px;
    }
}

.nav-link {
    color: black
}

.nav-link:hover {
    transition: .5s;
    color: #c4c4c4;
}

.icons {
    align-items: center;
}

.icons i {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.icons i:hover {
    transition: .5s;
    color: #c4c4c4;
}

footer {
    background-color: #3e5066;
    text-align: center;
    color: #c4c4c4;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.items {
    text-align: center;
    padding: 30px 170px;
    margin-bottom: 80px;
}

.offers {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blocks {
    width: 261px;
    height: 345px;
    margin-top: 40px;
    border-radius: 15px;
}

.car {
    width: 261px;
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    margin-top: 5px;
}

.price-car {
    color: black;
    font-size: 42px;
    font-weight: bold;
}

.name-car {
    font-size: 15px;
    font-weight: bold;
    color: #2e2e37;
}

.cars {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.zap {
    position: fixed;
    border-radius: 50%;
    bottom: 50px;
    right: 50px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.arrow {
    font-size: 50px;
    color: black;
    margin-top: 12px;
}